<module>
	<rawname>pbdirectory</rawname>
	<name>Phonebook Directory (Broken, Don't use)</name>
	<version>1.1</version>
	<type>setup</type>
	<category>Phonebook</category>
	<location>release/2.2/pbdirectory-1.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>00d88a4da44974b2f75dca04a345cedb</md5sum>
</module>
