<module>
	<rawname>pbdirectory</rawname>
	<name>Phonebook Directory</name>
	<version>0.3</version>
	<type>tool</type>
	<category>CID &amp; Number Management</category>
	<location>release/2.3/pbdirectory-0.3.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<description>Provides a dial-by-name directory for phonebook entries</description>
	<requirements>
		<version>2.2</version>
		<module>phonebook</module>
		<module>speeddial</module>
	</requirements>
	<md5sum>c64dc0efa6884e7b218b44cbca958a87</md5sum>
	<changelog>
	</changelog>
</module>
