<module>
	<rawname>pbdirectory</rawname>
	<name>Phonebook Directory (Broken, Don't use)</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Phonebook</category>
	<location>release/pbdirectory-0.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-Features</info>
	<md5sum>4c34e94ce49061c775e1a03dbd3e9a80</md5sum>
</module>
